<launch>
    <arg name="record_image" default="true" />
    <arg name="record_imu" default="false" />
    
    <param name="/camera/depth/image_rect_raw/compressed/format" type="string" value="png" />
    <param name="/camera/depth/image_rect_raw/compressed/png_level" type="int" value="4" />
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="enable_imu"    value="$(arg record_imu)"/>
        <arg name="color_width"   value="1280"/>
        <arg name="color_height"  value="720"/>
        <arg name="depth_width"   value="1280"/>
        <arg name="depth_height"  value="720"/>
        <arg name="infra1_width"  value="1280"/>
        <arg name="infra1_height" value="720"/>
        <arg name="infra2_width"  value="1280"/>
        <arg name="infra2_height" value="720"/>
    </include>

    <node pkg="rosbag" type="record" name="d435i_image_record"
          args="record -o /home/shtseng/rosbag/depth_image_raws
                          /camera/color/image_raw/compressed 
                          /camera/depth/image_rect_raw/compressedDepth
                          /camera/color/camera_info 
                          /camera/depth/camera_info
                          /tf_static"
          if="$(arg record_image)"
    />

    <node pkg="rosbag" type="record" name="d435i_imu_record"
          args="record -o /home/shtseng/rosbag/imu_raw
                          /camera/gyro/imu_info
                          /camera/gyro/sample
                          /camera/accel/imu_info 
                          /camera/accel/sample"
          if="$(arg record_imu)"
    />
</launch>
