<launch>  
  <arg name="gui" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="visual" default="false"/>
  <arg name="map_file" default="$(find turtlebot_guide_execution)/maps/renai_5f.yaml"/>
  <arg name="world_name" default="$(find turtlebot_guide_execution)/worlds/actor_scene2.world"/>
  
  <arg name="origin_x" default="0.0"/> 
  <arg name="origin_y" default="0.0"/> 
  <arg name="origin_yaw" default="0.69"/>

  <!-- Gazebo simulation environment -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include> 
  
  <!-- Robot model -->
  <include file="$(find tb3_gazebo)/launch/spawn_robot.launch.xml">
    <arg name="orig_x" value="$(arg origin_x)" />
    <arg name="orig_y" value="$(arg origin_y)" />
    <arg name="orig_yaw" value="$(arg origin_yaw)" />
  </include>

  <!-- Tracking system --> 
  <!--<include file="$(find turtlebot_follower_tracker)/launch/rgbd_laser_tracking.launch">
    <arg name="update_rate" default="5.0"/>
  </include> -->
  
  <!-- Follower state monitor -->
  <!-- <node pkg="turtlebot_follower_tracker" type="follower_state_monitor" name="follower_state_monitor" output="screen">
    <rosparam file="$(find turtlebot_follower_tracker)/params/follower_tracker_params.yaml" command="load" />
  </node> --> 
  
  <!-- Visualization for the experiment data -->
  <include file="$(find turtlebot_guide_visualization)/launch/visualization.launch" if="$(arg visual)" />
    
  <!-- Move base flex server -->
  <!--<include file="$(find turtlebot_mbf_nav)/launch/mbf.launch.xml">
    <arg name="map_file" value="$(arg map_file)"/>
  </incude> -->
  <!-- Navigation -->
  <include file="$(find tb3_gazebo)/launch/nav.launch.xml">
    <arg name="map_file" default="$(arg map_file)" />
  </include>
  
  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_guide_execution)/rviz/guide_people.rviz" 
        if="$(arg rviz)"/>

 </launch>
