<launch>  
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  
  <arg name="origin_x" default="0"/> 
  <arg name="origin_y" default="0"/>
  <arg name="origin_yaw" default="3.14"/>
  
  <arg name="map_file" default="$(find turtlebot_guide_integration)/maps/willow_v2.yaml"/>
  <arg name="world_name" default="$(find turtlebot_guide_integration)/worlds/simple_actor.world"/>
  
  <!-- Gazebo simulation environment -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include> 
  
  <!-- Turtlebot robot model -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot_guide_integration)/robot/tb_guide.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
      args="-x $(arg origin_x) -y $(arg origin_y) -Y $(arg origin_yaw) -urdf -param robot_description -model tb_guide"
      respawn="false"/>
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" 
        args="$(arg initial_pose_x) $(arg initial_pose_y) 0 $(arg initial_pose_a) 0 0 /map /odom 100" />
  
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
        args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml" />
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>
  
  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>
  
  <!-- Localization for navigation -->
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen"/> 
    
  <!-- Move base flex server -->
  <include file="$(find turtlebot_mbf_nav)/launch/mbf.launch.xml" />
  
  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_guide_integration)/rviz/guide_people.rviz" if="$(arg rviz)"/>
    
 </launch>
