<launch>  
  <arg name="gui" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="visual" default="true"/>
  <arg name="map_file" default="$(find turtlebot_guide_integration)/maps/willow_v2.yaml"/>
  <arg name="world_name" default="$(find turtlebot_guide_integration)/worlds/willowgarage_people.world"/>
  
  <arg name="initial_pose_x" default="19.0"/> <!-- 22 Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="17.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="3.14"/>
  
  <arg name="depth_nodelet_name" value="depthimage_nodelet_manager"/>
  
  <param name="init_x" value="$(arg initial_pose_x)"/>
  <param name="init_y" value="$(arg initial_pose_y)"/>
  <param name="init_th" value="$(arg initial_pose_a)"/>
  <param name ="/use_sim_time" value="true"/>
  
  <!-- Gazebo simulation environment -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include> 
  
  <!-- Turtlebot robot model -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot_guide_integration)/robot/turtlebot_guidance.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
      args="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -Y $(arg initial_pose_a) -urdf -param robot_description -model turtlebot_guidance"
      respawn="false"/>
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" 
        args="$(arg initial_pose_x) $(arg initial_pose_y) 0 $(arg initial_pose_a) 0 0 /map /odom 100" />

  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
        args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml" />
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>
  
  <!-- People detection -->
  <node pkg="nodelet" type="nodelet" name="$(arg depth_nodelet_name)" args="manager"/>
  <include file="$(find turtlebot_follower_tracker)/launch/people_detection_nodelet.launch">
    <arg name="input" value="/camera/depth/points" />
    <arg name="output" value="/turtlebot_people_detection/detected_persons" />
    <arg name="nodelet_manager" value="$(arg depth_nodelet_name)" />
  </include>
  
  <!-- People tracking -->
  <include file="$(find spencer_people_tracking_launch)/launch/tracking/freiburg_people_tracking.launch">
    <arg name="rgbd" default="true"/>
    <arg name="laser_low_confidence_detections" default="false"/>
    <arg name="fuse_detections" default="false"/>
    <arg name="static_map_filter" default="false"/>
  </include>
  
  <!-- Visualization for the different regions -->
  <include file="$(find turtlebot_guide_visualization)/launch/visualization.launch" if="$(arg visual)" />
  
  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>
  
  <!-- Localization for navigation -->
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen"/> 
    
  <!-- Move base flex server -->
  <include file="$(find turtlebot_mbf_nav)/launch/mbf.launch.xml" />
  
  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_guide_integration)/rviz/robot_guidance.rviz" if="$(arg rviz)"/>
  
    
 </launch>
