<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="cameraSize" value="0.03" />

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/sensors/asus_xtion_pro.urdf.xacro"/>
  
  <kobuki/>
  <stack_hexagons                 parent="base_link"/>
  <sensor_asus_xtion_pro          parent="base_link"/>

  <link name="ir_camera_link_mid">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertia m="${cameraSize}" x="${cameraSize}" y="${cameraSize}" z="${cameraSize}" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="ir_camera_mid_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.1 0 0.015" rpy="0 0 0"/>
    <parent link="plate_top_link"/>
    <child link="ir_camera_link_mid"/>
  </joint>

  <link name="ir_camera_link_l">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertia m="${cameraSize}" x="${cameraSize}" y="${cameraSize}" z="${cameraSize}" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="ir_camera_joint_l" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.09 0.07 0.015" rpy="0 0 0.55"/>
    <parent link="plate_top_link"/>
    <child link="ir_camera_link_l"/>
  </joint>

  <link name="ir_camera_link_3">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertia m="${cameraSize}" x="${cameraSize}" y="${cameraSize}" z="${cameraSize}" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="ir_camera_joint_3" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.09 -0.07 0.015" rpy="0 0 -0.55"/>
    <parent link="plate_top_link"/>
    <child link="ir_camera_link_3"/>
  </joint>

  <gazebo reference="ir_camera_link_mid">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="ir_camera_link_l">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="ir_camera_link_3">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="ir_camera_link_mid">
    <sensor type="logical_camera" name="ir_camera_mid">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>10.0</update_rate>
      <logical_camera>
        <near>0.05</near>
        <far>2.0</far>
        <horizontal_fov>0.576</horizontal_fov>
        <aspect_ratio>1.33</aspect_ratio>
      </logical_camera>
      <plugin name="gazebo_ir_camera_mid_plugin" filename="libgazebo_ros_ir_camera.so">
        <robotNamespace>guidance</robotNamespace>
        <topicName>/guidance/ir_camera_mid/scan</topicName>
        <frameName>ir_camera_link_mid</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="ir_camera_link_l">
    <sensor type="logical_camera" name="ir_camera_l">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>10.0</update_rate>
      <logical_camera>
        <near>0.05</near>
        <far>2.0</far>
        <horizontal_fov>0.576</horizontal_fov>
        <aspect_ratio>1.33</aspect_ratio>
      </logical_camera>
      <plugin name="gazebo_ir_camera_l_plugin" filename="libgazebo_ros_ir_camera.so">
        <robotNamespace>guidance</robotNamespace>
        <topicName>/guidance/ir_camera_l/scan</topicName>
        <frameName>ir_camera_link_l</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="ir_camera_link_3">
    <sensor type="logical_camera" name="ir_camera_3">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>10.0</update_rate>
      <logical_camera>
        <near>0.05</near>
        <far>2.0</far>
        <horizontal_fov>0.576</horizontal_fov>
        <aspect_ratio>1.33</aspect_ratio>
      </logical_camera>
      <plugin name="gazebo_ir_camera_r_plugin" filename="libgazebo_ros_ir_camera.so">
        <robotNamespace>guidance</robotNamespace>
        <topicName>/guidance/ir_camera_3/scan</topicName>
        <frameName>ir_camera_link_3</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
