<launch>  
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="map_file" default="$(find turtlebot_guide_execution)/maps/willow_v2.yaml"/>
  <arg name="world_name" default="$(find turtlebot_guide_execution)/worlds/actor0.world"/>
  
  <arg name="origin_x" default="22.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="origin_y" default="17.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="origin_yaw" default="3.14"/>
  
  <!-- Gazebo simulation environment -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include> 
  
  <!-- Spawn turtlebot guide model -->
  <include file="$(find turtlebot_guide_execution)/launch/include/spawn_tb_guide.launch.xml">
    <arg name="init_x" value="$(arg origin_x)" />
    <arg name="init_y" value="$(arg origin_y)" />
    <arg name="init_yaw" value="$(arg origin_yaw)" />
  </include>
  
  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>
  
  <!-- Localization -->
  <node pkg="fake_localization" type="fake_localization" name="fake_localization"/>
  
  <!-- Move base flex -->
  <include file="$(find turtlebot_mbf_nav)/launch/mbf.launch.xml" />

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_mbf_nav)/params/mbf.rviz" if="$(arg rviz)"/>
  
    
 </launch>
