<launch>

  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot_guide_integration)/robot/turtlebot_guidance.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>
        
  <node pkg="turtlebot_follower_tracker" name="load_model_node" type="load_model_test" output="screen"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_follower_tracker)/rviz/load_model.rviz" />

</launch>
