<launch>
  <arg name="ground_plane" default="/spencer/sensors/rgbd_front_top/ground_plane"/>
  <arg name="camera_ns" default="/camera"/>
  <arg name="depth_image_topic" default="/depth/image_raw"/>
  <arg name="rgb_image_topic" default="/rgb/image_raw"/>
  <arg name="camera_info_topic" default="/depth/camera_info"/>
  <arg name="scan_topic" default="/depth/scan"/>
  <arg name="update_rate" default="30.0"/>
  <arg name="static_map_filter" default="true" />
  
  <group ns="/spencer/perception_internal/people_detection">
    <!-- RWTH tf based groundplane -->
    <node pkg="rwth_ground_plane" type="ground_plane_tf_based_fixed" name="ground_plane" output="screen">
      <param name="base_footprint" value="base_footprint" type="string"/>
      <param name="camera_frame" value="camera_depth_optical_frame" type="string"/>
      <param name="ground_plane" value="$(arg ground_plane)" type="string"/>
      <param name="rate" value="$(arg update_rate)"/>
    </node>
  </group>
  
  <!-- RGBD upper body detector -->
  <include file="$(find turtlebot_follower_tracker)/launch/upper_body_detector.launch.xml">
    <arg name="camera_namespace" value="$(arg camera_ns)" />
    <arg name="depth_image" value="$(arg depth_image_topic)" />
    <arg name="rgb_image" value="$(arg rgb_image_topic)" />
    <arg name="camera_info_depth" value="$(arg camera_info_topic)" />
    <arg name="ground_plane" value="$(arg ground_plane)" />
    <arg name="detected_persons" value="/spencer/perception_internal/detected_persons/upper_body" />
  </include>
  
  <!-- Laser scan leg detector -->
  <include file="$(find turtlebot_follower_tracker)/launch/laser_leg_detector.launch.xml">
    <arg name="topic_scan" value="$(arg scan_topic)" />
    <arg name="detected_persons" value="/spencer/perception_internal/detected_persons/laser" />
  </include>
  
  <!-- Data fusioon and tracking pipeline -->
  <include file="$(find turtlebot_follower_tracker)/launch/tracking_pipeline.launch.xml">
    <arg name="static_map_filter" default="$(arg static_map_filter)" />
  </include>
  
</launch>
