<launch>

 <!-- Include official launch file and specify camera_info urls -->
 <include file="$(find openni2_launch)/launch/openni2.launch">
   <!-- provide arguments to that launch file -->
   <arg name="rgb_camera_info_url" value="file:///public/path/rgb_B00362708888047B.yaml" />
   <arg name="depth_camera_info_url" value="file:///public/path/depth_B00362708888047B.yaml" />
 </include>

</launch>
