<launch>
  <arg name="ns" default="follower" />
  <arg name="launch_rviz" default="true" />

  <!-- implemented node to track follower -->
  <node pkg="turtlebot_guidance" type="follower_tracker_node" name="follower_tracker_node" output="screen" />
  
  <!-- RViz -->
  <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_guidance)/rviz/guidance.rviz" />

</launch>
